<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="DefaultImagePath" value="D:\MyProject\default.png"/>
    <add key="ServerHost" value="127.0.0.1"/>
    <add key="ServerPort" value="8080"/>
    <add key="DataBaseHost" value="localhost"/>
    <add key="DataBasePort" value="3306"/>
    <add key="DataBaseName" value="mydatabase"/>
	<add key="DataBaseUserName" value=""/>
	<add key="DataBasePassword" value=""/>
	<add key="UseTrustedConnection" value="True"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
